BODY {
   font-family: serif;
   background-image: url("backgrounds/background.jpg");
   background-repeat: repeat;
   background-size: cover;
}
H1 {
   font: x-large Verdana, sans-serif;
   color: white;
   border-bottom: ;
   text-align: center;
   background-color: transparent;
}
IMG {
    border: ;
    padding: ;
}
P {
    margin: 0em 0.0em;
    text-indent: 0em;
    text-align:center
}
#links img,#forumlinks img{
  height:90px;
  width:90px;
  padding-bottom:6px;
}
#links{
  text-align: center;
}
#forumlinks{
  text-align: center;
  display:none;
}
.night-links{
  background-color: red;
}